/*
=======================================
  Current Modified :: 6/29/2018 1:14 PM
=======================================
*/


@charset "utf-8";
/* 웹 폰트 */
@import url(https://fonts.googleapis.com/earlyaccess/notosanskr.css);


/* reset */
html { -webkit-text-size-adjust:none !important; }
html,body { width:100%; height:100%; margin-left:auto; margin-right:auto; }
* { margin:0; padding:0; box-sizing:border-box; }
body,a,input,button,textarea,select,table,option { font-family:'Noto Sans KR','dotum','돋움','verdana','snas-serif'; outline:none; font-size:14px; color:#222; letter-spacing:-1px; line-height:1.4; }
img { font-size:0; line-height:0; border:none; vertical-align:middle; }
fieldset { border:none; }
ul,ol,li { list-style:none; margin:0; padding:0; }
table { width:100%; border-spacing:0; border-collapse:collapse; }
th,td { font-size:100%; font-weight:500; word-break:break-all; }
hr { height:0; }
i,em,strong,address { font-style:normal; font-weight:500; }
label { display:inline-block; vertical-align:middle; cursor:pointer; }
blockquote,q { content:""; quotes:none; }
caption,legend { overflow:hidden; visibility:hidden; position:absolute; top:-1000%; left:-1000%; width:0; height:0; font-size:0; line-height:0; text-indent:-9999em; z-index:1; }
body.modal-opened { width:100%; height:100%; overflow:hidden; }

/* img 레이지로딩 */
.blur-up { -webkit-filter:blur(10px); filter:blur(10px); transition:filter 400ms, -webkit-filter 400ms; }
.blur-up.lazyloaded { -webkit-filter:blur(0); filter:blur(0); }


/* a 태그 속성 */
a { display:block; text-decoration:none; color:#8f8f8f; }
a:hover,a:active { text-decoration:none; color:#222; }


/* h1~h6 태그 속성 */
h1,h2,h3,h4,h5,h6 { font-weight:700; letter-spacing:0; }
h1 { font-size:46px;margin:0; }
h2 { font-size:32px; }
h3 { font-size:22px; }
h4 { font-size:16px; }
h5 { font-size:15px; }
h6 { font-size:14px; }


/* form 태그 속성 */
input, select, button, textarea { margin:0; padding:0; vertical-align:middle; font-family:'Noto Sans KR', 'dotum', '돋움', 'verdana', 'sans-serif';  font-size:14px; font-weight:400; color:#333; background:none; border:0; border-radius:0; box-shadow:none;
    -webkit-box-sizing:border-box; -moz-box-sizing:border-box; -ms-box-sizing:border-box; -o-box-sizing:border-box; box-sizing:border-box;}
input { width:100%; height:40px; font-size:14px; border:1px solid #ccc; }
input[type=text], input[type=password], input[type=tel], input[type=date] { padding:0 5px 0 10px; color:#333; }
input[type=text]:focus, input[type=password]:focus, input[type='tel']:focus { border:1px solid #333; outline:none;: }
input[type=password] { line-height:100%; :}
input:hover { border:1px solid #333; }
input:disabled { color:#ccc; background:#f5f5f5; border:1px solid #e5e5e5; }
input::-webkit-input-placeholder { line-height:40px; color:#c4c4c4; }
input::-moz-placeholder { line-height:40px; color:#c4c4c4; }
input::-moz-placeholder { line-height:40px; color:#c4c4c4; }
input:-ms-input-placeholder { line-height:40px; color:#c4c4c4; }
select {width:100%; height:40px; line-height:38px; color:#666; font-size:14px; text-indent:5px; background:#fff; border:1px solid #ccc; }
textarea { width:100%; height:150px; line-height:18px; padding:10px 15px; font-size:14px; color:#333; resize:none; border:1px solid #ccc; }
button { display:inline-block; cursor:pointer; }


/* clearfix */
.stu_clearfix { overflow:hidden; }
.stu_clearfix:after { content:""; display:table; clear:both; }


/* wrap */
main { padding-bottom:60px; }
.stu_wrap { position:relative; width:100%; min-height:100%; }
.stu_inner_wrap { position:relative; width:100%; height:100%; margin:0 auto; overflow:visible; }
.stu_inner_wrap:after { content:""; display:table; clear:both; }


/* img position */
img.fw { position:absolute; width:100%; height:auto; top:-100%; right:-100%; bottom:-100%; left:-100%; margin:auto; }
img.fh { position:absolute; width:auto; height:100%; top:-100%; right:-100%; bottom:-100%; left:-100%; margin:auto; }
.prd.lock-off .thumb img { -webkit-transform:scale(1); -moz-transform:scale(1); -ms-transform:scale(1); -o-transform:scale(1); transform:scale(1); transition:transform .3s ease-in-out; }
.prd.lock-off:hover .thumb img { -webkit-transform:scale(1.1); -moz-transform:scale(1.1); -ms-transform:scale(1.1); -o-transform:scale(1.1); transform:scale(1.1); }


/* column */
.stu_column-1 { width:100%; }
.stu_column-2 { width:50%; }
.stu_column-3 { width:33.33333%; }
.stu_column-4 { width:25%; }


/* display */
.d-b { display:block; }
.d-ib { display:inline-block; }
.d-n { display:none! important; }
.h-a { height:auto! important; }
.t-v-mid-box { display:table; width:100%; height:100%; }
.t-v-mid { display:table-cell; position:relative; vertical-align:middle; font-size:0; }
.mg-0 { margin:0! important; }
.pd-0 { padding:0! important; }
.pd-r-0 { padding-right:0! important; }
.pd-b-0 { padding-bottom:0! important; }


/* Button */
/*.stu_wrap button { display:inline-block; width:34px; height:34px; background-image:url(/images2/common/stu_icon.png); background-repeat:no-repeat; background-size:272px; cursor:pointer; vertical-align:middle; }*/
.stu_wrap button.ico_back { background-position:0 0; display:inline-block; width:34px; height:34px; background-image:url(/images2/common/stu_icon.png); background-repeat:no-repeat; background-size:272px; cursor:pointer; vertical-align:middle; }
.stu_wrap button.ico_back2 { background-position:-34px 0; display:inline-block; width:34px; height:34px; background-image:url(/images2/common/stu_icon.png); background-repeat:no-repeat; background-size:272px; cursor:pointer; vertical-align:middle; }
.stu_wrap button.ico_like1 { background-position:-68px 0; display:inline-block; width:34px; height:34px; background-image:url(/images2/common/stu_icon.png); background-repeat:no-repeat; background-size:272px; cursor:pointer; vertical-align:middle; }
.stu_wrap button.ico_like2 { background-position:-102px 0; display:inline-block; width:34px; height:34px; background-image:url(/images2/common/stu_icon.png); background-repeat:no-repeat; background-size:272px; cursor:pointer; vertical-align:middle; }
.stu_wrap button.ico_home { background-position:-170px 0; display:inline-block; width:34px; height:34px; background-image:url(/images2/common/stu_icon.png); background-repeat:no-repeat; background-size:272px; cursor:pointer; vertical-align:middle; }
.stu_wrap button.ico_location { background-position:-204px 0; display:inline-block; width:34px; height:34px; background-image:url(/images2/common/stu_icon.png); background-repeat:no-repeat; background-size:272px; cursor:pointer; vertical-align:middle; }
.stu_wrap button.ico_search { background-position:-68px -34px; display:inline-block; width:34px; height:34px; background-image:url(/images2/common/stu_icon.png); background-repeat:no-repeat; background-size:272px; cursor:pointer; vertical-align:middle; }
.stu_wrap button.ico_share { background-position:-238px -34px; display:inline-block; width:34px; height:34px; background-image:url(/images2/common/stu_icon.png); background-repeat:no-repeat; background-size:272px; cursor:pointer; vertical-align:middle; }
.stu_wrap button.ico_link { background-position:-170px -102px; display:inline-block; width:34px; height:34px; background-image:url(/images2/common/stu_icon.png); background-repeat:no-repeat; background-size:272px; cursor:pointer; vertical-align:middle; }
.stu_wrap button.ico_reservation { background-position:-204px -102px; }
.stu_btn { display:block; margin:25px auto; padding:0 22px; height:44px; border-radius:2px; font-size:15px; font-weight:400; line-height:44px; text-align:center; letter-spacing:-.5px; color:#fff; }


/* Background Color */
.bg_red { background:#ee685a; }
.bg_orange { background:#f58850; }
.bg_mint { background:#3ad195; }
.bg_blue { background:#1d384d; }
.bg_lightblue { background:#007aff; }
.bg_gray { background:#8f8f8f; }
.bg_line { background:#fff; border:1px solid #d5d5d5; color:#8f8f8f; }
.tone-down { position:absolute; top:0; right:0; bottom:0; left:0; background-color:rgba(0,0,0,.15); }


/* Text Guide */
.stu_h2_title { font-size:18px; font-weight:500; line-height:28px; text-align:center; color:#222; }
.stu_h2_title span, .stu_h3_title span { display:block; font-size:14px; font-weight:300; line-height:18px; color:#666; margin-top:4px; }
.stu_h2_subTitle { white-space:pre-line; margin-top:20px; font-size:24px; text-align:center; line-height:30px; color:#222; font-weight:400; }
.stu_h3_title, .stu_h3_title a { display:block; font-size:16px; line-height:30px; text-align:center; color:#222; font-weight:300; margin-bottom:10px; }
.stu_h4_title, .stu_h4_title a { font-size:17px; line-height:30px; color:#222; font-weight:400; margin:0 0 6px; }
.stu_more { margin-bottom:20px; font-size:16px; line-height:25px; word-break:break-all; font-weight:300; letter-spacing:0; color:#666; }
.text-overflow { text-overflow:ellipsis; overflow:hidden; }


/* footer */
footer { position:relative; width:100%; padding:30px 4% 50px; border-top:1px solid #d9d9d9; box-sizing:border-box; background:#f5f5f5; }
footer .stu_footerMenu { margin:0 auto; padding-bottom:20px; text-align:center; }
.stu_footerMenu img { position:relative; width:160px; }
.stu_utilMenu { margin:15px 0; }
.stu_utilMenu li a { font-size:14px; font-weight:300; color:#888; padding:7px 0; }
.stu_snsShare { position:relative; vertical-align:middle; }
.stu_snsShare li { display:inline-block; width:22px; height:22px; margin:0 10px; background:url(/images2/footer/snsLogo.png) no-repeat; background-size:88px; text-indent:-9999em; overflow:hidden; }
.stu_snsShare #stu_sns2 { background-position:-22px 0; }
.stu_snsShare #stu_sns1:hover { background-position:0 -22px; }
.stu_snsShare #stu_sns2:hover { background-position:-22px -22px; }
.stu_footerInfo address { font-size:13px; font-weight:300; line-height:20px; letter-spacing:-1px; text-align:center; color:#666; word-break:break-all; }















/* ========================================================= */
/* --------------------------------------------------------- */
/*                    태블릿 (가로 및 세로)                    */
/* --------------------------------------------------------- */
/* ========================================================= */

@media (min-width:620px){

/* reset */
body.modal-opened { overflow:visible; }


/* wrap */
.stu_inner_wrap { max-width:980px; min-width:580px;}


/* Text Guide */
.stu_h2_title { font-size:20px; }
.stu_h2_title span, .stu_h3_title span { font-size:16px; line-height:22px; margin-top:10px; }
.stu_h2_subTitle { white-space:pre-line; margin-top:20px; font-size:22px; text-align:center; line-height:30px; color:#222; font-weight:400; }
.stu_h3_title, .stu_h3_title a { display:block; font-size:16px; line-height:30px; text-align:center; color:#222; font-weight:300; margin-bottom:10px; }
.stu_h4_title, .stu_h4_title a { font-size:17px; line-height:30px; color:#222; font-weight:400; margin:0 0 6px; }
.stu_more { margin-bottom:20px; font-size:16px; line-height:25px; word-break:break-all; font-weight:300; letter-spacing:0; color:#666; }


/* footer */
footer { padding:30px 2% 50px; }
.stu_footerMenu img { width:165px; }
.stu_utilMenu { display:block; }
.stu_utilMenu li { display:inline-block; padding-left:15px; margin-left:15px; background:url(/images2/footer/bar_2x13.png) left center no-repeat; }
.stu_utilMenu li:first-child { background:none; padding:0; margin:0; }
.stu_footerInfo address { line-height:24px; }
}















/* ========================================================= */
/* --------------------------------------------------------- */
/*                    PC 웹 (가로 및 세로)                    */
/* --------------------------------------------------------- */
/* ========================================================= */

@media (min-width:1025px){

/* wrap */
.stu_inner_wrap { max-width:1100px; min-width:960px; }


/* Text Guide */
.stu_h2_title { font-size:22px; }
.stu_h2_title span, .stu_h3_title span { font-size:17px; line-height:24px; margin-top:14px; }
.stu_h2_subTitle { white-space:pre-line; margin-top:20px; font-size:22px; text-align:center; line-height:30px; color:#222; font-weight:400; }
.stu_h3_title, .stu_h3_title a { display:block; font-size:16px; line-height:30px; text-align:center; color:#222; font-weight:300; margin-bottom:10px; }
.stu_h4_title, .stu_h4_title a { font-size:17px; line-height:30px; color:#222; font-weight:400; margin:0 0 6px; }
.stu_more { margin-bottom:20px; font-size:16px; line-height:25px; word-break:break-all; font-weight:300; letter-spacing:0; color:#666; }


/* footer */
footer { padding:0 2%; }
footer .stu_footerMenu { display:table; width:100%; padding:15px 0; border-bottom:1px solid #e9e9e9; text-align:left; }
.stu_footerMenu img { width:160px; top:-10px; }
.stu_utilMenu { display:table-cell; vertical-align:middle; margin:0; }
.stu_utilMenu li { float:left; padding-left:20px; margin-left:20px; }
.stu_utilMenu li a { font-weight:400; }
.stu_utilMenu li:first-child { margin-left:-20px; }
.stu_utilMenu li a:hover { color:#333; }
.stu_snsShare { display:table-cell; top:4px; float:right; }
.stu_snsShare li { margin-left:30px; }
footer .stu_footerInfo { width:100%; padding:25px 0 50px; }
.stu_footerInfo address { font-size:14px; line-height:30px; text-align:left; }
}
