/* ========================================================= */
/* --------------------------------------------------------- */
/*                       모바일 (공통)                        */
/* --------------------------------------------------------- */
/* ========================================================= */


.stubby_icon
{
  background-image: url('//www.stubbyplanner.com/img_v13/favicon.png');
  background-size: cover;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  cursor: pointer;

}
.marker0 {
  background-image: url('//www.stubbyplanner.com/img_v13/marker/mycity_night0.png');
  background-size: cover;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  cursor: pointer;
}

.marker1 {
  background-image: url('//www.stubbyplanner.com/img_v13/marker/mycity_night1.png');
  background-size: cover;
  width: 17px;
  height: 17px;
  border-radius: 50%;
  cursor: pointer;
}

.marker2 {
  background-image: url('//www.stubbyplanner.com/img_v13/marker/mycity_night2.png');
  background-size: cover;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  cursor: pointer;
}

.marker3 {
  background-image: url('//www.stubbyplanner.com/img_v13/marker/mycity_night3.png');
  background-size: cover;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  cursor: pointer;
}

.marker4 {
  background-image: url('//www.stubbyplanner.com/img_v13/marker/mycity_night4.png');
  background-size: cover;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  cursor: pointer;
}

.marker5 {
  background-image: url('//www.stubbyplanner.com/img_v13/marker/mycity_night5.png');
  background-size: cover;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  cursor: pointer;
}

.marker6 {
  background-image: url('//www.stubbyplanner.com/img_v13/marker/mycity_night6.png');
  background-size: cover;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  cursor: pointer;
}
.marker7 {
  background-image: url('//www.stubbyplanner.com/img_v13/marker/mycity_night7.png');
  background-size: cover;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  cursor: pointer;
}
.marker8 {
  background-image: url('//www.stubbyplanner.com/img_v13/marker/mycity_night8.png');
  background-size: cover;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  cursor: pointer;
}
.marker9 {
  background-image: url('//www.stubbyplanner.com/img_v13/marker/mycity_night9.png');
  background-size: cover;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  cursor: pointer;
}

.mapboxgl-popup {
  max-width: 200px;
}



/* 임시: 로그인/로그아웃 */
/*header .sign_in
{ display:block! important; }
header .sign_out
{ display:none! important; }*/


/* 이벤트 배너 */
.stu_event_banner { padding:20px 0; } 
.stu_event_banner .stu_inner_wrap { padding:0 12px; } 
.stu_event_banner .event_banner { padding:0 0 30px; } 
.stu_event_banner li { height:100px; background:#f3f3f3; text-align:left; overflow:hidden; } 
.stu_event_banner li a { position:relative; height:100%;display:block} 
.stu_event_banner .txtWrap { position:absolute; top:30px; left:14px; color:#333; white-space:nowrap; z-index:1; } 
.stu_event_banner .txtWrap p { display:block; font-size:15px; font-weight:400; color:#333; } 
.stu_event_banner .txtWrap b { font-size:20px; font-weight:bolder; } 
.stu_event_banner .txtWrap b span { margin-right:6px; color:#ee685a; } 
.stu_event_banner .imgWrap { float:right; position:relative; width:140px; height:84px; margin:18px 10px 0 0; background-position:50% 50%; background-size:cover; text-align:center; } 
.stu_event_banner .imgWrap b { position:absolute; top:50%; left:0; right:0; -webkit-transform:translateY(-50%); transform:translateY(-50%); font-size:20.5px; font-weight:bolder; color:#333; } 
.stu_event_banner .imgWrap b span { display:block; font-size:12px; color:#72bbff; } 
.stu_event_banner .swiper-container-horizontal > .swiper-pagination-bullets { bottom:0; } 
.stu_event_banner .swiper-pagination-bullet-active { background:gray; } 
.stu_event_banner .swiper-button-prev, 
.stu_event_banner .swiper-button-next { display:none; } 

@media (min-width:620px){ 
	.stu_event_banner .stu_inner_wrap { padding:0 20px; } 
	.stu_event_banner li { height:110px; } 
	.stu_event_banner .txtWrap {  left:6%;  } 
	.stu_event_banner .txtWrap p { margin:0 0 4px; font-size:20px; font-weight:300; } 
	.stu_event_banner .txtWrap b { font-size:22px; } 
	.stu_event_banner .imgWrap {  width:216px; height:129.6px; margin:10px 8% 0 0;  } 
	.stu_event_banner .imgWrap b { margin:-4px 0 0; font-size:28px; } 
	.stu_event_banner .imgWrap b span { margin:0 0 -2px; font-size:13px; } 
	.stu_event_banner .swiper-button-prev, 
	.stu_event_banner .swiper-button-next { display:block; width:46.5px; height:62px; margin:-44px 0 0; background-image:url(/images2/common/stu_icon.png); background-repeat:no-repeat; background-size:496px; vertical-align:middle; } 
	.stu_event_banner .swiper-button-prev { background-position:0 -124px; } 
	.stu_event_banner .swiper-button-next { background-position:-46.5px -124px; }
} 
@media (min-width:1025px){ 
		.stu_event_banner { margin:0; padding:30px 0; } 
		.stu_event_banner .stu_inner_wrap { padding:0; } 
		.stu_event_banner li { height:120px; } 
		.stu_event_banner .txtWrap { top:50%;-webkit-transform:translateY(-50%);transform:translateY(-50%);  } 
		.stu_event_banner .txtWrap p { display:inline-block; margin:0 8px 0 0; font-size:26px; } 
		.stu_event_banner .txtWrap b {  font-size:26px; } 
		.stu_event_banner .txtWrap b span { font-size:34px; } 
		.stu_event_banner .imgWrap { width:245px; height:147px; margin:10px 10% 0 0; } 
		.stu_event_banner .imgWrap b { font-size:34px; } 
		.stu_event_banner .imgWrap b span { font-size:14px; }
	}



/* 공통 */
header .header_banner i.ico_close, header .ico_menu, header .gnb_container .swiper-button-prev, header .gnb_container .swiper-button-next, header .ico_search, header .side_item i, header .prfPopup_item i, .stu_scroll_top i, .md-header a.ico_close, .md-content .content-header.ico_country:before, .md-content .content-header.ico_theme:before, footer .info_btn i { background-image:url(/images2/common/stu_icon.png); background-repeat:no-repeat; vertical-align:middle; }
footer .stu_sns a, footer .stu_footer_logo { background-image:url(/images2/common/stu_footer.png); background-repeat:no-repeat; vertical-align:middle; }
.on-pc { display:none; }



/* 헤더 배너광고 */
header .header_banner { display:block; position:relative; background:#fff9d6; overflow:hidden; }
header .header_banner .stu_inner_wrap { padding:0 20px 0 40px; }
header .header_banner .header_banner_wrap { height:58px; text-align:left; }
header .header_banner .txtWrap { display:inline-block; padding:9px 0 0; font-size:15px; font-weight:500; line-height:20px; color:#4a4a4a; }
header .header_banner .txtWrap span { display:block; font-size:16.5px; color:#ee685a; }
header .header_banner .btnWrap { display:none; }
header .header_banner i.ico_close { position:absolute; top:11px; right:12px; width:36px; height:36px; -webkit-border-radius:3px; border-radius:3px; background-position:0 -36px; background-size:288px; cursor:pointer; opacity:.6; }
header .header_banner i.ico_close:hover { background-color:rgba(0,0,0,.08); }



/* 헤더영역 */
header .stu_header { position:relative; width:100%; border-bottom:1px solid #e5e5e5; background:#fff; }
/* 헤더 - GNB */
header .gnb_container { position:relative; height:50px; }
header .gnb_container .aside_button { position:absolute; top:0; left:0; }
header .gnb_container .gnb_menu { display:block; padding:15px 16px; }
header .gnb_container .gnb_menu i.ico_menu { display:block; width:26px; height:20px; background-position:-264px -300px; background-size:320px; }
header .gnb_container .stu_logo a img { height:30px; }
/* 헤더 - LNB */
header .lnb_container { height:44px; }
header .lnb_container .lnb_wrap { font-size:0; text-align:center; }
header .lnb_container .lnb_item { display:inline-block; height:44px; padding:0 12px; }
header .lnb_container .lnb_item a { display:block; height:100%; font-size:15px; font-weight:normal; line-height:44px; letter-spacing:0; color:#4a4a4a; }
header .lnb_container .lnb_item:hover a { border-bottom:3px solid #cef9e5; }
header .lnb_container .lnb_item.active a { font-weight:bolder; border-bottom:3px solid #3ad195; }
header .lnb_container .gnb_search_wrap { position:absolute; top:0; right:0; }
header .lnb_container .gnb_search { display:block; padding:12.25px 16px; }
header .lnb_container .gnb_search i.ico_search { display:block; width:25.5px; height:25.5px; background-position:-72.25px -38.25px; background-size:272px; }
/* 헤더 - SIDE */
header .side_background { display:none; position:fixed; top:0; left:0; right:0; bottom:0; margin:0; padding:0; background-color:rgba(0,0,0,.3); z-index:100; transition:background .2s ease-out; }
header .side_background.active { display:block; }
header .side_container { position:fixed; top:0; left:0; width:240px; height:100%; -ms-transform:translate(-100%); -webkit-transform:translateX(-100%); transform:translateX(-100%); transition:transform .2s ease-out; background:#fff; overflow-y:auto; z-index:100; }
header .side_container.active { -ms-transform:translate(0); -webkit-transform:translateX(0); transform:translateX(0); }
header .side_container .side_section { padding:14px 0; }
header .side_container .side_section + .side_section { border-top:1px solid #e5e5e5; }
header .side_container .side_item { padding:10px 16px; }
header .side_container .side_item a { display:inline-block; width:100%; text-decoration:none; font-size:16px; font-weight:300; line-height:24px; letter-spacing:0; color:#4a4a4a; }
header .side_container .side_item i { float:left; display:inline-block; width:27.6px; height:24px; margin:0 10px 0 0; vertical-align:top; }
header .side_container .side_logo { padding:10px 16px 14px; text-align:center; }
header .side_container .side_logo a { position:relative; height:36px; }
header .side_container .side_item.side_btn { padding:5px 16px; text-align:center; }
header .side_container .side_item .btn_login { height:48px; border:1px solid #ddd; -webkit-border-radius:2px; border-radius:2px; font-weight:400; line-height:46px; }
header .side_container .side_item .btn_signup { height:48px; -webkit-border-radius:2px; border-radius:2px; background:#4a4a4a; font-weight:400; line-height:46px; color:#fff; }
header .side_container .side_profile { display:table; }
header .side_container .side_profile > a { display:table-cell; width:40px; padding:2px 0 0; }
header .side_container .profile_photo { vertical-align:top; }
header .side_container .profile_photo i { display:inline-block; position:relative; width:40px; height:40px; margin:0; -webkit-border-radius:50%; border-radius:50%; background-image:url(/images2/profile_default.gif); background-size:cover; overflow:hidden; }
header .side_container .profile_name { display:table-cell; padding:0 0 0 12px; }
header .side_container .profile_name p { max-width:156px; font-size:17px; font-weight:bold; line-height:20px; color:#4a4a4a; white-space:nowrap; overflow:hidden; text-overflow:ellipsis; }
header .side_container .profile_name a.mng_account { font-size:15px; font-weight:normal; color:#00b5e2; }
header .side_container .profile_name a.mng_account:hover { color:#0091c5; }
header .side_container .side_resv i { background-position:-292.8px -336px; background-size:384px; }
header .side_container .side_resv span { float:left; }
header .side_container .side_coupon i { background-position:-320.4px -336px; background-size:384px; }
header .side_container .side_square i { background-position:-348px -336px; background-size:384px; }
header .side_container .side_premium i { background-position:-348px -360px; background-size:384px; }
/* scroll top */
.stu_scroll_top { display:none; position:relative; height:46px; border-top:1px solid #e5e5e5; background:#fbfbfb; text-align:center; }
.stu_scroll_top span { margin:0 5px 0 0; font-size:15.5px; font-weight:normal; line-height:46px; color:#8f8f8f; }
.stu_scroll_top i { display:inline-block; width:16.8px; height:16.8px; background-position:-57.6px -123.6px; background-size:192px; opacity:.6; vertical-align:-2px; }



/* 푸터영역 */
footer { position:relative; padding:0! important; border:none; background:none; }
footer .stu_utils { background:#373741; text-align:center; }
footer .stu_utils .stu_inner_wrap { padding:20px 20px 26px; }
footer .stu_links li { display:inline-block; position:relative; white-space:nowrap; }
footer .stu_links li + li { padding:0 0 0 17px; }
footer .stu_links li + li:before { content:""; position:absolute; top:50%; left:8px; -webkit-transform:translateY(-50%); transform:translateY(-50%); height:12px; border-left:1px solid #6e7075; }
footer .stu_links li a { display:block; padding:12px 0; font-size:13.5px; font-weight:normal; line-height:20px; color:#86868c; }
footer .stu_links li a:hover { color:#c3c3c6; }
footer .stu_sns li { display:inline-block; padding:14px 6px 0; }
footer .stu_sns li a { display:inline-block; width:32px; height:32px; -webkit-border-radius:50%; border-radius:50%; background-size:288px; font-size:0; text-indent:-9999px; opacity:.4; }
footer .stu_sns li a:hover { opacity:1; }
footer .stu_sns li.stu_facebook a { background-position:0 0; }
footer .stu_sns li.stu_instagram a { background-position:0 -32px; }
footer .stu_sns li.stu_kakaotalk a { background-position:-256px 0; }
footer .stu_sns li.stu_email a { background-position:-256px -32px; }
footer .stu_coInfo { background:#45454f; text-align:center; }
footer .stu_coInfo .stu_inner_wrap { padding:26px 20px 40px; }
footer .stu_footer_logo { display:block; width:180px; height:20px; margin:0 0 20px; background-position:-27px -26.5px; background-size:234px; }
footer .stu_copyright { font-size:12px; font-weight:300; line-height:20px; letter-spacing:0; text-align:left; color:#86868c; }
footer .stu_copyright b { font-weight:bolder; color:#c3c3c6; }
footer .stu_copyright .info_btn { position:absolute; top:28px; right:20px; font-size:13.5px; font-weight:normal; cursor:pointer; }
footer .stu_copyright .info_btn i { display:inline-block; width:16px; height:16px; margin:0 0 0 3px; background-position:-144px -176px; background-size:256px; vertical-align:-3px; opacity:.4; }
footer .stu_copyright .info_btn.on i { background-position:-144px -160px; }
footer .business_info { max-height:0; transition:all ease .2s; overflow:hidden; }
footer .business_info.on { max-height:300px; }
footer .business_info .txtWrap { padding:0 0 16px; }
footer .business_info br { display:none; }



/* 검색영역 */
/* 검색영역 - 음영 */
.stu_md_search { display:none; position:fixed; top:0; left:0; right:0; bottom:0; margin:0; padding:0; background:none; opacity:0; overflow:hidden; z-index:101; }
.stu_md_search.active { display:block; opacity:1; }
.stu_md_search .search_background { position:absolute; top:0; left:0; right:0; bottom:0; margin:0; padding:0; background:rgba(0,0,0,.3); }
/* 검색영역 - 팝업영역 */
.md-container { position:fixed; top:0; left:50%; width:100%; max-width:680px; height:100%; transform:translateX(-50%); }
/* 검색영역 - 팝업영역 - 헤더 */
.md-header { position:fixed; left:50%; transform:translateX(-50%); width:100%; max-width:680px; padding:6.5px 10px; border-bottom:1px solid #3ad195; background:#3ad195; }
.md-header a.ico_close { display:inline-block; width:30px; height:30px; margin-right:5px; background-position:-45px -45px; background-size:320px; cursor:pointer; }
.md-header .md-searchWrap { display:inline-block; position:relative; width:calc(100% - 50px); height:46px; padding:0 18px; -webkit-border-radius:3px; border-radius:3px; background:#fafafa; vertical-align:middle; }
.md-header fieldset { border:none; outline:none; }
.md-header .md-search-input { display:inline-block; height:46px; border:0! important; background:none; font-size:16px; font-weight:normal; }
.md-header .md-search-input:hover, .md-searchArea .md-search-input:focus { outline:none; }
/* 검색영역 - 팝업영역 - 컨텐츠 */
.md-content { height:calc(100% - 60px); margin:60px 0 0; padding:0 0 60px; background:#fff; overflow-y:auto; }
.md-content .content-header { padding:0 10px; border-bottom:1px solid #e5e5e5; background:#f4f7f8; font-size:16px; font-weight:500; line-height:50px; color:#aaa; }
.md-content .content-header.ico_country:before, .md-content .content-header.ico_theme:before, .md-content .content-header.ico_product:before { content:""; display:inline-block; position:relative; bottom:1px; width:30px; height:30px; vertical-align:middle; background-size:240px; opacity:.4; }
.md-content .content-header.ico_country:before { background-position:-180px 0; }
.md-content .content-header.ico_theme:before { background-position:-150px -30px; }
.md-content .content-header.ico_product:before { background-position:-180px -30px; }
.md-content .content-item { border-bottom:1px solid #e5e5e5; }
.md-content .content-item > a { position:relative; display:-webkit-box; display:-webkit-flex; display:flex; padding:15px 20px; }
.md-content .value .name { font-size:16px; font-weight:normal; color:#444; }
.md-content .value .category { display:block; font-size:15px; font-weight:300; color:#8f8f8f; }
.md-content .count { -webkit-flex-shrink:0; flex-shrink:0; -webkit-align-self:center; align-self:center; text-align:right; font-size:15px; font-weight:300; color:#37c68d; }

















/* ========================================================= */
/* --------------------------------------------------------- */
/*                    태블릿 (가로 및 세로)                    */
/* --------------------------------------------------------- */
/* ========================================================= */

@media (min-width:620px){

/* 헤더 배너광고 */
header .header_banner .stu_inner_wrap { padding:0; }
header .header_banner .header_banner_wrap { text-align:center; }
header .header_banner .txtWrap { padding:17px 0 0; font-size:18px; line-height:22px; }
header .header_banner .txtWrap span { display:inline-block; font-size:18px; }
header .header_banner .btnWrap { display:inline-block; margin:0 0 0 20px; padding:10px 18px; -webkit-border-radius:50px; border-radius:50px; background:#dec7ae; font-size:15px; font-weight:normal; line-height:16px; color:#fff; }



/* 헤더영역 */
/* 헤더 - GNB */
header .gnb_container .stu_logo a img { height:32px; }
/* 헤더 - LNB */
header .lnb_container .lnb_item { padding:0 24px; }
header .lnb_container .lnb_item a { font-size:16px; }
/* scroll top */
.stu_scroll_top { height:48px; }
.stu_scroll_top span { line-height:48px; }



/* 푸터영역 */
footer .stu_utils { height:52px; }
footer .stu_utils .stu_inner_wrap { padding:0; }
footer .stu_links { white-space:nowrap; }
footer .stu_links li { margin:0 2%; }
footer .stu_links li + li { padding:0; }
footer .stu_links li + li:before { display:none; }
footer .stu_links li a { padding:0; line-height:52px; }
footer .stu_links br { display:none; }
footer .stu_sns { position:absolute; right:14px; z-index:1; }
footer .stu_sns li { padding:22px 6px 0; }
footer .stu_coInfo .stu_inner_wrap { padding:72px 20px 40px; }
footer .stu_footer_logo { position:absolute; top:26px; margin:0; }
footer .stu_copyright .info_btn { display:none; }
footer .business_info, footer .business_info.on { max-height:none; padding:0 0 12px; }
footer .business_info .txtWrap { padding:0; }
footer .business_info li { display:inline-block; position:relative; }
footer .business_info li + li { padding:0 0 0 17px; }
footer .business_info li + li:before { content:""; position:absolute; top:50%; left:8px; -webkit-transform:translateY(-50%); height:10px; border-left:1px solid #595b64; }
footer .business_info br { display:block; }



/* 검색영역 */
/* 검색영역 - 팝업영역 */
.md-container { top:8%; height:84%; }




}















/* ========================================================= */
/* --------------------------------------------------------- */
/*                    PC 웹 (가로 및 세로)                    */
/* --------------------------------------------------------- */
/* ========================================================= */

@media (min-width:1025px){

/* 공통 */
.on-mobile { display:none; }
.on-pc { display:block; }



/* 헤더 배너광고 */
header .header_banner i.ico_close { right:0; }



/* 헤더영역 */
header .stu_header:after { content:""; position:absolute; top:84px; left:0; right:0; border-bottom:1px solid #e5e5e5; }
/* 헤더 - GNB */
header .gnb_container { height:84px; }
header .gnb_container .aside_button { display:none; }
header .gnb_container .stu_logo { position:absolute; top:50%; left:50%; -webkit-transform:translate(-50%, -50%); transform:translate(-50%, -50%); width:192px; height:39.81px; }
header .gnb_container .stu_logo a img { height:100%; }
header .gnb_container .gnb_banner { width:280px; height:100%; }
header .gnb_container .swiper-container { height:100%; }
header .gnb_container .swiper-slide > a { display:block; }
header .gnb_container .swiper-slide .txtWrap { position:absolute; top:50%; left:0; -webkit-transform:translateY(-50%); transform:translateY(-50%); text-align:left; }
header .gnb_container .swiper-slide .txtWrap p { font-size:14px; font-weight:normal; line-height:20px;display:block;}
header .gnb_container .swiper-slide .txtWrap b { font-size:18px; font-weight:bolder; line-height:22px; color:#4a4a4a; }
header .gnb_container .swiper-slide .txtWrap span { color:#3ad195; }
header .gnb_container .swiper-pagination { top:auto; left:auto; right:50px; bottom:6px; width:auto; font-size:14px; line-height:20px; letter-spacing:-.5px; text-align:right; color:#666; }
header .gnb_container .swiper-pagination-current { font-weight:bold; color:#4a4a4a; }
header .gnb_container .swiper-button-prev, header .gnb_container .swiper-button-next { top:auto; bottom:6px; -webkit-transform:none; transform:none; width:20px; height:20px; margin:0; border:1px solid #e5e5e5; background-color:#fff; background-size:176px; opacity:1; }
header .gnb_container .swiper-button-prev { left:auto; right:19px; background-position:.5px -46px; }
header .gnb_container .swiper-button-next { right:0; background-position:-16px -46px; }
header .gnb_container .gnb_wrap { position:absolute; top:50%; right:0; -webkit-transform:translateY(-50%); transform:translateY(-50%); z-index:100; }
header .gnb_container .gnb_item { float:left; }
header .gnb_container .gnb_item + .gnb_item { margin:0 0 0 24px; }
header .gnb_container .gnb_item a { display:block; font-size:15px; font-weight:normal; line-height:40px; text-decoration:none; letter-spacing:0; color:#6c6c6c; }
header .gnb_container .gnb_item a:hover { color:#4a4a4a; }
header .gnb_container .gnb_item .signup { height:40px; padding:0 18px; -webkit-border-radius:3px; border-radius:3px; border:1px solid #3ad195; line-height:38px; color:#2cbb8c; }
header .gnb_container .gnb_item .signup:hover { color:#2cbb8c; background:#fcfefd; }
header .gnb_container .gnb_item .profile_photo { position:relative; width:40px; height:40px; -webkit-border-radius:50%; border-radius:50%; background-image:url(/images2/profile_default.gif); background-size:cover; overflow:hidden; }
header .gnb_container .prfPopup { position:absolute; top:54px; right:0; width:230px; -webkit-border-radius:2px; border-radius:2px; border:1px solid #e5e5e5; -webkit-box-shadow:0 1px 1px rgba(0,0,0,.2); box-shadow:0 1px 1px rgba(0,0,0,.2); background:#fff; visibility:hidden; opacity:0; -ms-transform:scale(.9); -webkit-transform:scale(.9); transform:scale(.9); -ms-transform-origin:top right; -webkit-transform-origin:top right; transform-origin:top right; transition:opacity .1s ease,transform .1s ease; }
header .gnb_container .prfPopup.active { visibility:visible; opacity:1; -ms-transform:scale(1); -webkit-transform:scale(1); transform:scale(1); }
header .gnb_container .prfPopup:before, header .gnb_container .prfPopup:after { content:""; position:absolute; top:-12px; right:12px; border:6px solid rgba(0,0,0,0); border-bottom-color:#fff; }
header .gnb_container .prfPopup:before { margin:-3px -1.5px 0 0; border-width:7.5px; border-bottom-color:#e5e5e5; }
header .gnb_container .prfPopup_section { padding:14px 0; }
header .gnb_container .prfPopup_section + .prfPopup_section { border-top:1px solid #e5e5e5; }
header .gnb_container .prfPopup_item { padding:10px 16px; }
header .gnb_container .prfPopup_item a { display:inline-block; width:100%; font-weight:300; line-height:24px; color:#4a4a4a; }
header .gnb_container .prfPopup_item i { float:left; display:inline-block; width:27.6px; height:24px; margin:0 10px 0 0; vertical-align:top; opacity:.7; }
header .gnb_container .prfPopup_profile { display:table; }
header .gnb_container .profile_name { display:table-cell; padding:0 0 0 10px; vertical-align:top; }
header .gnb_container .profile_name p { max-width:148px; font-size:17px; font-weight:bold; line-height:20px; color:#4a4a4a; white-space:nowrap; overflow:hidden; text-overflow:ellipsis; }
header .gnb_container .profile_name a.mng_account { font-size:15px; font-weight:normal; color:#00b5e2; }
header .gnb_container .profile_name a.mng_account:hover { color:#0091c5; }
header .gnb_container .prfPopup_coupon i { background-position:-320.4px -336px; background-size:384px; }
header .gnb_container .prfPopup_square i { background-position:-348px -336px; background-size:384px; }
header .gnb_container .prfPopup_premium i { background-position:-348px -360px; background-size:384px; }
/* 헤더 - LNB */
header .lnb_container { position:relative; height:51px; }
header .lnb_container .lnb_item { height:52px; padding:0 36px; }
header .lnb_container .lnb_item a { font-size:17px; line-height:50px; }
header .lnb_container .gnb_search { position:relative; width:56px; height:52px; padding:0; border-left:1px solid #e5e5e5; border-right:1px solid #e5e5e5; }
header .lnb_container .gnb_search i.ico_search { position:absolute; top:50%; left:50%;-webkit-transform:translate(-50%, -50%); transform:translate(-50%, -50%); }
/* scroll top */
.stu_scroll_top { position:fixed; left:50%; bottom:50px; width:55px; height:55px; margin:0 0 0 570px; -webkit-border-radius:2px; border-radius:2px; border:none; background:#373741; z-index:100; }
.stu_scroll_top:hover { background:#373741; }
.stu_scroll_top span { display:none; }
.stu_scroll_top i { width:35px; height:37.5px; margin:9px 0 0; background-position:-155px -256.25px; background-size:400px; opacity:1; }



/* 푸터영역 */
footer .stu_links, footer .stu_links li { float:left; margin:0; }
footer .stu_links li, footer .stu_links li + li { padding:0 50px 0 0; }
footer .stu_links li:before, footer .stu_links li + li:before { content:""; display:block; position:absolute; top:50%; left:-24px; -webkit-transform:translateY(-50%); transform:translateY(-50%); height:12px; border-left:1px solid #6e7075; }
footer .stu_links li a { font-size:14px; }
footer .stu_sns { right:0; }
footer .stu_sns li { padding:10px 0 0 14px; }
footer .stu_coInfo { text-align:left; }
footer .stu_coInfo .stu_inner_wrap { padding:28px 0 40px 190px; }
footer .stu_footer_logo { top:34px; left:0; width:162px; height:36.9px; background-position:-24.3px -4.95px; background-size:210.6px; }
footer .stu_copyright { font-size:13.5px; font-weight:normal; line-height:24px; }



/* 검색영역 */
/* 검색영역 - 음영 */
.stu_md_search { position:absolute; }

/* 검색영역 - 팝업영역 */
.md-container { position:relative; max-width:1044px; width:calc(100% - 56px); height:auto; margin:0 0 0 -27px; }
.pos-top1 { top:84px; }
.pos-top2 { top:142px; }
/* 검색영역 - 팝업영역 - 헤더 */
.md-header { position:relative; left:0; -webkit-transform:none; transform:none; max-width:1044px; padding:6.5px 20px; border:1px solid #4a4a4a; border-bottom:0; }
.md-header a.ico_close { position:absolute; top:-1px; right:0; -webkit-transform:translateX(100%); transform:translateX(100%); width:56px; height:52px; margin:0; border:1px solid #4a4a4a; border-left:0; background-position:-45px -48px; background-size:388px; background-color:#666; }
.md-header .md-searchWrap { width:100%; height:38px; }
.md-header .md-search-input { height:38px; }
/* 검색영역 - 팝업영역 - 컨텐츠 */
.md-content { max-height:440px; height:auto; margin:0; padding:0; border:1px solid #4a4a4a; border-top:0; }


}
